<div class="container page">
  <div class="d-flex">
    <div class="d-flex justify-content-start pageHeader">
      <h1 class="title">My Tasks</h1>
    </div>
    <div class="new-task d-flex justify-content-end">
      <h2>
        <%= link_to '<i class="fas fa-plus-circle"></i>'.html_safe, new_task_path, id: 'add-task' %>
      </h2>
    </div>
  </div>
  <div>
    <table class="tasks">
      <tbody>
        <tr>
          <th>Status</th>
          <th>Task</th>
          <th>Options</th>
        </tr>
        <% @tasks.each do |task| %>
        <tr>
            <% if task.completed %>
              <td>Completed</td>
            <% else %>
              <td>In Progress</td>
            <% end %>
          <td>
            <%= link_to task.title, tasks_path(task) %>
          </td>
          <td>
            <div class="d-flex">
              <p class="p-1">
                <%= link_to edit_task_path(task) do %>
                <i class="fas fa-edit"></i>
              <% end %>
              </p>
              <p class="p-1">
                <%= link_to task_path(task), method: :delete do %>
                <i class="fas fa-trash-alt"></i>
                <% end %>
              </p>
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
